@model IEnumerable<GStore.Models.ViewModels.ShirtShortWithCategoryNameVM>

@{
    ViewData["Title"] = "Преглед на тениска";
}

<h1>Преглед на тениска</h1>

<p>
    <a asp-action="Create">Създай тениска</a>
</p>